body {
	margin: 0;
	white-space: pre-wrap;
}

.main {
	margin: 0 auto;
	padding: 10pt 20pt;
	max-width: 750pt;
	box-shadow: 0 2pt 5pt lightgray;
}

.blockquote {
	margin: 3pt 2pt 3pt 15pt;
	padding: 2pt 0 2pt 7pt;
	border-left: 2pt solid black;
	border-radius: 2.5pt;
}

.bqauthor::before {
	content: "— ";
}
.bqauthor {
	margin-right: 8pt;
	text-align: end;
	font-style: oblique;
}

.break {}

.parbreak {
	width: 100%;
	height: 15pt;
}

.position {
	position: absolute;
}

.ital {
	font-style: italic;
}

.slant {
	font-style: oblique;
}

.strike {
	text-decoration: line-through;
}

.under {
	text-decoration: underline;
}

.tab {}

span.code {
	margin: 0 4pt;
	border: 1pt solid darkgray;
	padding: 3pt;
	border-radius: 4pt;
	font-family: monospace;
}

div.code {
	margin: 3pt 5pt;
	padding: 2pt 4pt;
	border: 1pt solid darkgray;
	border-left-width: 3pt;
	border-left-color: black;
	border-radius: 5pt;
}

h1 {
	text-align: center;
	margin: 10pt 50pt 15pt;
	font-weight: lighter;
	font-variant: small-caps;
	font-size: xxx-large;
}

h1.subtitle {
	margin-top: -20pt;
	font-weight: normal;
	font-variant: normal;
	font-size: x-large;
}

h2 {
	margin: 15pt 0 10pt;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
}
h2::before, h2::after {
	content: '';
	width: 20%;
	height: 1pt;
	margin: 0 10pt;
	background: black;
}

h3 {
	margin: 12pt 10pt 4pt;
	font-size: x-large;
	font-weight: normal;
}

h4 {
	font-size: large;
}

ol, ul {
	margin: 3pt 0 4pt;
	padding-left: 20pt;
}

li {}

multicol {}

table {
	border: 1pt solid black;
	border-collapse: collapse;
}

table.noborder {
	border: none;
}

table.wide {
	width: 80%;
	margin-left: 10%;
}

tr {}

tr.header {
	background-color: lightgray;
	font-weight: bold;
}

td {
	padding: 2pt 3pt;
}

figure {}

figcaption {}
